.heading1 {
  padding-bottom: 30px !important;
  margin-right: -60px !important;
  margin-top: -8px;
}

nav {
  background-color: #2870f0;
}

.nav-wrapper {
  justify-content: left;
  padding-left: 200px !important;
}

input[type='search'] {
  padding: 5px 260px 5px 10px !important;
  margin-bottom: 5px !important;
}

.searchbar {
  margin-top: -115px !important;
  margin-left: 150px !important;
  padding-bottom: 20px !important;
}
.searchin {
  padding-right: 50px !important;
}
.search {
  padding-left: 50px;
  position: absolute !important;
  top: -9px !important;
  left: 350px;
}
.login {
  position: absolute;
  right: 200px;
  top: 0px;
}

.logout {
  position: absolute;
  right: 200px;
  top: 0px;
  font-size: 16px;
}
.alog {
  font-weight: 500 !important;
}

.pagecard {
  margin: 50px 180px 30px 180px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.main-title {
  font-weight: 500 !important;
  font-size: 20px !important;
  margin-bottom: 20px;
}
.cart_img {
  height: 162px;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}
.pcart1 {
  color: black;
  text-align: center;
}

.pcart2 {
  color: black;
  text-align: center;
  font-size: 12px;
}

.shop-btn {
  background: #2874f0;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
  border: none;
  color: #fff;
  padding: 3px 62px 35px 62px !important;
  text-align: center !important;
  font-size: 16px;
}
.shop-btn:hover {
  background: #2874f0;
  box-shadow: 0 1px 1px 1px rgb(0 0 0 / 30%);
}
.shop-btn:focus {
  background-color: #2874f0;
}
.shop {
  text-align: center;
}

.login-btn1 {
  background: #fb641b;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
  border: none;
  color: #fff;
  padding: 3px 62px 35px 62px !important;
  text-align: center !important;
  font-size: 16px;
}
.login-btn1:hover {
  background: #fb641b;
  box-shadow: 0 1px 1px 1px rgb(0 0 0 / 30%);
}
.login-btn1:focus {
  background-color: #fb641b;
}
.shop {
  text-align: center;
}
.lbtn {
  background: #fb641b;
}

.lbtn:hover {
  background: #fb641b;
}
.lbtn:focus {
  background: #fb641b;
}
.acard {
  box-shadow: none !important;
  padding: 20px 10px;
  margin: 0px !important;
  padding: 0px 10px;
}
.pcard {
  height: 280px;
}
.pcard.card-content {
  line-height: 4px;
  padding: 24px 24px -10px 24px !important;
}

.card-image {
  padding: 40px 20px 20px 20px;
  height: 150px !important;
  width: 200px;
}

.cp {
  color: black;
  text-align: left;
  padding-left: 0px;
  font-size: 16px;
}

.pp {
  color: black;
}

h5 {
  font-weight: 400;
  color: black;
}

.acart {
  font-weight: 500 !important;
  color: #fb641b !important;
}

.price-card {
  margin: 50px 200px 30px -50px;
  padding-top: 20px;
  padding-bottom: 30px;
  width: 350px;
}

.price-title {
  padding-left: 20px !important;
  font-weight: 500 !important;
  font-size: 20px !important;
  color: var(--color-grey-grade4);
}

.discount {
  display: inline !important;
  font-size: 13.5px;
  font-style: italic;
  padding-left: 10px !important;
  color: green;
}

.pright {
  text-align: right;
  padding-left: 120px !important;
}
.pright1 {
  padding-left: 180px !important;
}
.pright2 {
  padding-left: 140px !important;
}
.pright4 {
  padding-left: 125px !important;
}
h6 {
  padding-left: 20px !important;
}

.pbottom {
  padding-left: 0px !important;
}
.main-title1 {
  font-weight: 500 !important;
  font-size: 20px !important;
  margin-bottom: 20px;
  padding-left: 20px !important;
}

.pagecard1 {
  margin: 50px 0px 30px 200px;
  padding-top: 20px;
  padding-bottom: 30px;
  width: 700px;
}
.dash {
  padding-left: 0px !important;
}
.porder {
  height: 35px;
  z-index: 10;
}
.cart-btn {
  background: #fb641b;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
  border: none;
  color: #fff;
  padding: 10px 62px 45px 62px !important;
  text-align: center !important;
  font-size: 17px;
  margin-left: 470px;
}
.cart-btn:hover {
  background: #fb641b;
}
.cart-btn:focus {
  background: #fb641b;
}
.righthome {
  position: absolute;
  right: 320px;
  top: 1px;
  font-size: 16px;
  font-weight: 500 !important;
}
.CartNavbar {
  overflow: hidden;
}
