nav {
  background-color: #2870f0;
}

.nav-wrapper {
  justify-content: left;
  padding-left: 200px !important;
}

input[type='search'] {
  padding: 10px 150px 10px 10px !important;
  margin-bottom: 5px !important;
}

.searchbar {
  margin-top: 0px !important;
  padding-bottom: 20px !important;
}
.search {
  padding-left: 50px;
  position: absolute !important;
  top: -8px !important;
  left: 350px;
}
.login {
  position: absolute;
  right: 130px;
  top: 0px;
}

.logout {
  position: absolute;
  right: 200px;
  top: 0px;
  font-size: 16px;
}
.alog {
  font-weight: 500 !important;
}

.pagecard {
  margin: 50px 180px 30px 180px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.main-title {
  font-weight: 500 !important;
  font-size: 20px !important;
}
.cart_img {
  height: 162px;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}
.pcart1 {
  color: black;
  text-align: center;
}

.pcart2 {
  color: black;
  text-align: center;
  font-size: 12px;
}

.shop-btn {
  background: #2874f0;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
  border: none;
  color: #fff;
  padding: 3px 62px 35px 62px !important;
  text-align: center !important;
  font-size: 16px;
}
.shop-btn:hover {
  background: #2874f0;
  box-shadow: 0 1px 1px 1px rgb(0 0 0 / 30%);
}
.shop-btn:focus {
  background-color: #2874f0;
}
.shop {
  text-align: center;
}

.login-btn1 {
  background: #fb641b;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
  border: none;
  color: #fff;
  padding: 3px 62px 35px 62px !important;
  text-align: center !important;
  font-size: 16px;
}
.login-btn1:hover {
  background: #fb641b;
  box-shadow: 0 1px 1px 1px rgb(0 0 0 / 30%);
}
.login-btn1:focus {
  background-color: #fb641b;
}
.shop {
  text-align: center;
}
.lbtn {
  background: #fb641b;
}

.lbtn:hover {
  background: #fb641b;
}
.lbtn:focus {
  background: #fb641b;
}
