.modal {
  width: 50%;
}
.left-col {
  background-color: #2870f0;
  margin-top: 0px;
  padding: 20px 20px 10px 20px !important;
}
.modal-content {
  padding: 0px !important;
}
h4 {
  padding: 20px;
  font-weight: 100;
}
p {
  line-height: 22px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  color: #dbdbdb;
}
.row {
  margin-bottom: 0px !important;
}
.log_img {
  background-image: url('../../Images/login/login_img.png');
  padding: 150px 80px 135px 80px;
  background-position: center 85%;
  background-repeat: no-repeat;
}

.right-col {
  margin-top: 0px;
  padding: 20px 50px 10px 50px !important;
}
label {
  color: #878787 !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}
input {
  margin-bottom: 4px !important;
}
.input-field {
  padding-top: 5px !important ;
  margin-top: 8px !important;
}
.label-input {
  padding: 5px 0px 0px 0px !important;
  border-bottom: 0.5px solid #878787 !important;
}
.p-lower {
  color: #878787;
  font-size: 12px;
  font-weight: 500 !important;
  padding-left: 0px !important;
}

.login-btn {
  background: #fb641b;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
  border: none;
  color: #fff;
  padding: 0px 110px 40px 110px !important;
  margin: 0px !important;
  font-size: 16px;
}
.login-btn:hover {
  background: #fb641b;
}
.login-btn:focus {
  background-color: #fb641b;
}
.p-lower2 {
  color: #878787;
  font-size: 14px !important;
  font-weight: 600 !important;
  text-align: center;
}
.otp-btn {
  background: white;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
  border: none;
  color: #2870f0;
  padding: 0px 75px 40px 75px !important;
  margin: 0px !important;
  font-size: 16px;
}
.otp-btn:hover {
  background: white;
}
.otp-btn:focus {
  background-color: white;
}

.p-lower3 {
  font-size: 14px !important;
  font-weight: 600 !important;
  text-align: center;
}
a.alower {
  display: inline !important;
  padding: 0px !important;
  font-size: 12px;
}
a.alower:hover {
  background-color: inherit;
}
.otp-btn:hover {
  box-shadow: 0 1px 1px 1px rgb(0 0 0 / 10%);
}
.login-btn:hover {
  box-shadow: 0 1px 1px 1px rgb(0 0 0 / 30%);
}

a.alower3:hover {
  background-color: inherit;
}

.btn {
  font-family: Roboto, Arial, sans-serif;
  text-transform: none;
}

.signup_img {
  background-image: url('../../Images/login/login_img.png');
  padding: 150px 80px 120px 80px;
  background-position: center 85%;
  background-repeat: no-repeat;
}

.ps-lower {
  color: #878787;
  font-size: 12px;
  font-weight: 500 !important;
  padding-left: 0px !important;
  text-align: left !important;
  padding-right: 0px;
}

.right-col2 {
  margin-top: 0px;
  padding: 20px 40px 10px 40px !important;
}

.login-btn2 {
  background: #fb641b;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
  border: none;
  color: #fff;
  padding: 0px 95px 40px 95px !important;
  margin: 0px !important;
  font-size: 16px;
}
.login-btn2:hover {
  background: #fb641b;
}
.login-btn2:focus {
  background-color: #fb641b;
}

.otp-btn2 {
  background: white;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
  border: none;
  color: #2870f0;
  padding: 0px 50px 40px 50px !important;
  margin: 0px !important;
  font-size: 16px;
}
.otp-btn2:hover {
  background: white;
}
.otp-btn2:focus {
  background-color: white;
}
