.bag-title {
  font-weight: 480 !important;
  font-size: 22px !important;
  margin-bottom: 20px;
  padding-left: 600px !important;
}

.submitButton {
  margin-left: 45%;
  margin-top: 20px;
  color: white;
  font-size: 1rem;
  text-align: center;
  height: 50px;
  background-color: rgb(204, 87, 51);
}

.centerMaker {
  margin-left: 5%;
}

.headingBig {
  font-size: 2rem;
}

.linkColor {
  color: white;
}
