.heading  {
    margin-right:30px ;
}
.nav-wrapper{
    padding: 10px;
    display: flex;
    justify-content: center;
}
.nav-wrapper .input-field input[type="search"] {
    background-color: white;
    color: black!important;
}

#search{
    background-color: white!important;
    color: black!important;
}

nav .input-field label.active i{
    color: black!important;
}
.input-field input[type="search"] ~ .mdi-navigation-close, .input-field input[type="search"] ~ .material-icons{
    color: black!important;
}

.nav-content{
    display: flex;
    justify-content: center;
    
    padding-left: 100px;
    padding-right: 100px;
    /* top:-10px!important ; */
}
#nav_container{
    width: 90px;
    margin: 30px;
    margin-top:8px ;
    margin-bottom: 8px!important;
        
}
.nav_cont{
    margin-top: -10px!important;
    
}

#search{
    position: relative;
    margin-top: -5px!important;
}