.heading {
  margin-right: 30px;
}
.nav-wrapper {
  padding: 10px;
  /* margin-left: 2rem !important; */
  display: flex;
  justify-content: center!important;
}
.nav-wrapper .input-field input[type='search'] {
  background-color: white;
  color: black !important;
}

/* #search {
  background-color: white !important;
  color: black !important;
} */

nav .input-field label.active i {
  color: black !important;
  position: relative;
  margin-top: 100px !important;
}
.input-field input[type='search'] ~ .mdi-navigation-close,
.input-field input[type='search'] ~ .material-icons {
  color: black !important;
}

.nav-content {
  display: flex;
  justify-content: center;

  padding-left: 300px;
  padding-right: 300px;
  /* top:-10px!important ; */
}
#nav_container {
  width: 90px;
  /* margin: 30px; */
  margin-top: 8px;
  margin-bottom: 8px !important;
}
.nav_cont {
  margin-top: -10px !important;
  /* position: relative;
  margin-right:-2rem!important ; */
  margin-left: -27px;
}
i {
  margin-left: 8px !important;
}

.rightnav {
  padding-left: 370px !important;
}

#search {
  position: relative;
  margin-top: -5px !important;
  height: 30px;
  width: auto;
}

.icon_srch {
  /* position: relative;
  margin-right: 3rem !important; */
  padding: 0;
  margin: 0;
  margin-top: -0.7rem !important;
}
